body {
    font-family: 'Montserrat', sans-serif;
}
.navbar-nav {
   background-color: aqua; 
   margin-left: auto;
   margin-right: 100px;

}
.navbar-brand {
    background-color: aquamarine;
    margin-left: 20%;
    margin-right: auto;
}
.navbar-brand img {
    padding-right: 15px;
    width: 65px;
}

* {
    box-sizing: border-box;
}
.row {
    margin: 10% auto;
    justify-content: center;
}
/* Create two equal columns that floats next to each other */
.column {

    width: 50%;
    padding: 10px;
    /* Should be removed. Only for demonstration  */
    height: 600px; 
    width: 600px;
    /* probably need to figure out how to not have set height and width*/
}
.column img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.profileBlurb h3 {
    background-color: white;
    text-align: justify;
    /* height: 600px; */
    /* line-height: 600px; */
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}

/* My Work section below*/

.cta {
    text-align: center;
    padding: 1%;
}
.workGrid {
    display: grid;
    /* grid-template-areas:
    'firstSpot secondSpot thirdSpot fourthSpot'
    'fifthSpot sixthSpot seventhSpot eighthSpot'; */

    grid-template-areas:
    'firstSpot secondSpot'
    'thirdSpot fourthSpot';
    grid-gap: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
}
h1 {
    text-align: center;
}
.image1 {
    grid-area: firstSpot;
}
.item1 {
    grid-area: secondSpot;
    background-color: aqua;
}
.image2 {
    grid-area: thirdSpot;
}
.item2 {
    grid-area: fourthSpot;
    background-color: aqua;
}
/* .image3 {
    grid-area: fifthSpot;
}
.item3 {
    grid-area: sixthSpot;
    background-color: aqua;
}
.image4 {
    grid-area: seventhSpot;
}
.item4 {
    grid-area: eighthSpot;
    background-color: aqua;
} */

/* Button styling for links to case study */
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
  }
h3 {
    text-align: center;
}
.topnav a.active {
    margin-right: auto;
    margin-left: 20%;
}
@media only screen and (max-width: 600px) {
    .workGrid {
        display: grid;
        grid-template-areas:
        'firstSpot'
        'secondSpot' 
        'thirdSpot' 
        'fourthSpot';
        /* 'fifthSpot'
        'sixthSpot' 
        'seventhSpot'
        'eighthSpot'; */
        grid-gap: 10px;
        padding: 10px;
    }
}
/* Styling for case study cards */
.card-deck {

    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}